* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* Nawigacja */
@media(min-width:320px) and (max-width:1024px){
    /*------------------------------------------------------*/
    /*MENU*/
    #kon_menu {
        display: none;
    }
    .link_menu {
        width: 100%;
    }
    .link_menu li {
        width: 100%;
        float: none;
        padding: 10px 0;
    }
    .pokaz_menu {
        display: block;
        padding: 15px;
        background: rgb(83,62,26);
        text-align:center;
        color: rgb(245,245,245);
        cursor: pointer;
    }
}
@media(min-width: 1024px) {
    #kon_menu {
        width: 100%;
        height: 95px;
        position: fixed;
        display: inline-block;
        padding: 15px 0;
        background: rgb(27, 82, 2);
        box-shadow: 0 0 7px rgb(10,10,10);
        z-index: 2;
    }
    img.logo {
        width: 30%;
        position: absolute;
        left: 60px;
        top: 30px;
        z-index: 0;
    }
    .linki_menu {
        width: 1300px;
        position: absolute;
        left: 700px;
        top: 30px;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        text-align: center;
    }
    .linki_menu li a {
        box-sizing: border-box;
        font-size: 25px;
        width: 200px;
        float: left;
        text-align: center;
        font-family: 'Saira Condensed', sans-serif;
        /* font-weight: bold; */
        color: white;
        transition: 0.3s;
        text-transform: uppercase;
    }
    .linki_menu li a:hover {
        font-size: 27px;
        color: rgb(255, 255, 255);
    }
    .pokaz_menu {
        display: none;
    }
}

/* Header */
header {
    position: relative;
    background-color: #1a9137;
    height: 100vh;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
    z-index: 1;
}
header>* {
    position: absolute;
}
header img {
    position: absolute;
    height: 50%;
    bottom: 0px;
    right: 0;
}

header div.welcome {
    z-index: 1;
    position: absolute;
    top: 7%;
    left: 5%;
    right: 5%;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

header div.kurs {
    width: 550px;
    height: 280px;
    font-family: 'Saira', sans-serif;
    font-weight: lighter;
    text-align: center;
    position: absolute;
    background-color: rgb(30, 114, 34);
    border-radius: 10px;
    opacity: 0.8;
    box-shadow: 5px;
    color: rgb(255, 255, 255);
    right: 20px;
    top: 150px;
}
header div.kurs h3 {
    font-family: 'Saira', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
}
button.kurs {
    position: absolute;
    right: 100px;
    top: 290px;
    width: 400px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 5px;
}

header div.sedzia {
    width: 550px;
    height: 280px;
    font-family: 'Saira', sans-serif;
    font-weight: lighter;
    text-align: center;
    position: absolute;
    background-color: rgb(30, 114, 34);
    border-radius: 10px;
    opacity: 0.8;
    box-shadow: 5px;
    color: rgb(255, 255, 255);
    right: 20px;
    bottom: 150px;
}
header div.sedzia h3 {
    font-family: 'Saira', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}
button.sedzia {
    position: absolute;
    right: 100px;
    bottom: 140px;
    width: 400px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 5px;
}

header p {
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

header h1 {
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
}
header h2 {
    font-family: 'Saira', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 10px;
}

header button {
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    line-height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-size: 12px;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
}

@media (orientation:portrait) and (min-width: 360px) {
    header h1 {
        font-size: 24px;
    }
    header h2 {
        font-size: 24px;
    }
    header button {
        margin-top: 24px;
        line-height: 40px;
        font-size: 16px;
    }
}
@media (orientation:portrait) and (min-width: 410px) {
    header h1 {
        font-size: 26px;
    }
    header h2 {
        font-size: 26px;
    }
    header button {
        margin-top: 40px;
        line-height: 50px;
        font-size: 20px;
    }
    header img {
        right: -20%;
    }
}
@media (orientation:portrait) and (min-width: 768px) {
    header p {
        font-size: 80px;
    }
    header h1 {
        font-size: 32px;
    }
    header h2 {
        font-size: 32px;
    }
    header button {
        margin-top: 60px;
        line-height: 60px;
        font-size: 24px;
    }
    header img {
        right: -20%;
    }
}

@media (orientation: landscape) {
    header img {
        position: absolute;
        height: 80%;
        bottom: 0;
        right: -10%;
    }
    header div.welcome {
        left: 7%;
        right: 46%;
        top: 15%;
    }
    header button {
        margin-top: 40px;
    }
}

@media (orientation: landscape) and (min-width: 640px) {
    header h1 {
        font-size: 24 px;
    }
    header h2 {
        font-size: 24px;
    }
    header button {
        font-size: 16px;
        line-height: 40px;
    }
}
@media (orientation: landscape) and (min-width: 1024px) {
    header div.welcome {
        left: 3%;
    }
    header p {
        font-size: 56px;
    }
    header h1 {
        margin-top: 40px;
        font-size: 40px;
    }
    header h2 {
        font-size: 34px;
    }
    header button {
        margin-top: 80px;
        line-height: 60px;
        font-size: 24px;
    }
    header img {
        right: -22%;
        height: 85%;
    }
}
@media (orientation:landscape) and (min-width: 1280px) {
    header div.welcome {
        text-align: left;
        left:6%;
    }
    header p {
        text-align: left;
        font-size: 100px;
    }
    header h1 {
        margin-top: 40px;
        font-size: 60px;
    }
    header h2 {
        font-size: 60px;
    }
    header button {
        margin-top: 100px;
        line-height: 80px;
        font-size: 30px;
        padding: 0 40px;
        border: 3px solid white;
    }
    header img {
        right: -18%;
        height: 85%;
    }
}
@media (orientation:landscape) and (min-width: 1600px) {
    header div.welcome {
        left: 8%;
    }
    header p {
        font-size: 120px;
    }
    header h1 {
        margin-top: 40px;
        font-size: 60px;
    }
    header h2 {
        font-size: 60px;
    }
    header button {
        margin-top: 100px;
        line-height: 90px;
        font-size: 30px;
        padding: 0 40px;
        border: 3px solid white;
    }
    header img {
        right: -5%;
        height: 90%;
    }
}
@media(min-width:1024px) {
    header button {
        cursor: pointer;
        transition: 0.3s;
    }
    header button:hover {
        background-color: white;
        color: #111;
    }
}
/* sekcja 1 cechy */

.features {
    max-width: 1750px;
    margin:0 auto 0;
    padding: 20px 3%;
    text-align: center;
}

.features h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom:10px;
}

.features h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}

.features p {
    font-family: 'Saira', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 300;
    margin:10px 0;
}

.features img {
    width: 100%;
    margin:5px 0;
    max-width: 225px;
}

@media (min-width:360px) {
    .features h1 {
        font-size: 28px;
    }
    .features h2 {
        font-size: 24px;
    }
    .features p {
        font-size: 14px;

    }
}

@media (min-width:768px) {
    .features h1 {
        font-size: 36px;
    }
    .features h2 {
        font-size: 28px;
    }
    .features p {
        font-size: 18px;

    }
}

@media (min-width:1024px) {
    .features {
        margin-top: 10px;
        padding: 5% 1%;
        text-align: center;
    }
    .feature {
        float: left;
        width: 25%;
        padding: 10px;
    }
    .features h1 {
        font-size: 36px;
    }
    .features h2 {
        font-size: 20px;
    }
    .features p {
        font-size: 16px;
        line-height: 120%;
        padding: 0 10px;
    }
}

@media(min-width:1600px) {
    .feature {
        padding: 20px 40px;
    }
    .features h1 {
        font-size: 60px;
    }
    .features h2 {
        font-size: 32px;
    }
    .features p {
        font-size: 21px;
        line-height: 130%;
        padding: 0 10px;
    }
}

/* Portfolio-opisy dzialanosci */
.portfolio {
    background-color: black;
    padding: 10px 0 30px 0;
}

.portfolio .descPort {
    position: relative;
    left: 550px;
    bottom: 50px;
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    line-height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-size: 12px;
    border: 2px solid white;
    border-radius: 4px;
    text-align: center;
    transition: 0.6s;
}
.portfolio .descPort:hover{
    line-height: 40px;
    color: rgb(9, 78, 12);
    background-color: white;
    font-size: 22px;
}

.portfolio h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.portfolio .web img {
    width: 100%;
}

.portfolio .about {
    color:white;
    font-family: 'Saira', sans-serif;
    font-weight: normal;
    padding: 10px 20px 20px 0; 
    text-align: left;
}

.portfolio .about h2 {
    font-size: 18px;
    border-bottom: 2px solid white;
    margin-bottom: 12px;
    padding-bottom: 6px;
    text-indent: 20px;
}

.portfolio .project .about p {
    font-size: 30px;
    padding-left: 20px;
}

.portfolio .project {
    margin-bottom: 20px;  
    max-width: 1400px;
    margin: 0 auto 20px; 
}

.portfolio .project:nth-of-type(odd) {
    background-color: #4dcc04;
}

.portfolio .project:nth-of-type(even) {
    background-color: #478a2d;
}

@media (min-width: 768px) {
    .portfolio h1 {
        font-size: 40px;
    }
    .portfolio .about h2{
        font-size: 28px;
        text-indent: 40px;
    }
    .portfolio .about p {
        font-size:18px;
        padding-left: 40px;
    }
    .portfolio .project {
        margin-bottom: 40px;    
    }
    
}
@media (orientation: landscape) {
    .web, .about {
        width: 50%;
        float: left;
    }
    .web img {
        display: block;
    }
    .project:nth-of-type(even) .web {
        float: right;
    }
    .project:nth-of-type(even) .about {
        padding-right: 0;
    }
    .project:nth-of-type(even) .about p {
        padding-right: 20px;
    }
    .project:nth-of-type(even) .about h2 {
        text-indent: 0;
        margin-left: 40px;
    }
}
@media (orientation: landscape) and (min-width: 1400px) {
    .portfolio h1 {
        font-size: 60px;
        padding: 30px 0;
    }
    .portfolio .about h2{
        padding-top: 50px;
        font-size: 28px;
        text-indent: 40px;
        margin-bottom: 50px;
    }
    .portfolio .about p {
        font-size:18px;
        padding-left: 40px;
        line-height: 180%;
    }
    .portfolio .project {
        margin-bottom: 40px;    
    }
}

/* slogan */
.slogan {
    text-align: center;
    background-image: url(../images/Nauka\ Grafika/slogan1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.slogan h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom:25px;
}

.slogan p {
    font-family: 'Saira', sans-serif;
    font-size: 10px;
}

.slogan p.author {
    font-size:12px;
    margin-top: 12px;
}

.slogan .bg {
    padding: 30px 10px;
    background-color: rgba(7, 58, 10, 0.6);
}

@media(orientation:landscape) {
    .slogan p {
        width:70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(min-width: 768px) {
    .slogan h1 {
        font-size: 38px;
        margin-bottom:35px;
    }
    
    .slogan p {
        font-family: 'Saira', sans-serif;
        font-size: 26px;
        width: 60%;
        margin: 0 auto;
    }
    
    .slogan p.author {
        font-size: 40px;
        margin-top: 18px;
    }
    .slogan .bg {
        padding: 50px 10px;
    }
}

@media(min-width: 1024px) {
    .slogan h1 {
        font-size: 60px;
        margin-bottom:55px;
    }
    
    .slogan p {
        font-family: 'Saira', sans-serif;
        font-size: 40px;
        width: 60%;
        margin: 0 auto;
    }
    
    .slogan p.author {
        font-size: 26px;
        margin-top: 40px;
    }
    .slogan .bg {
        padding: 80px 10px;
    }
}
/*OFERTA*/
#offer {
    width: 1300px;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
    background: rgb(255, 255, 255);
    overflow: auto;
}
h1.oferta_naglowek {
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 56px;
    text-transform: uppercase;
    margin-bottom:5px;
}
p.dzial_opis {
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom:25px;

}
.box img{
    float: left;
    width: 20vw;
    margin: 1%;
    height: 60vh;
}
#offer button {
    width: 100%;
    margin-top: 20px;
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    padding: 0 20px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: 2px solid black;
    font-size: 45px;
    border-radius: 5px;
    text-align: center;
    transition: 0.6s;
}
#offer button:hover {
    color: rgb(255, 255, 255);
    background-color: black;
    border: 2px solid rgb(0, 0, 0);
}
/* aboutUs */
.aboutUs {
    max-width: 1920px;
    margin: 0 auto;
}
.aboutUs .item {
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
}
.aboutUs .item:nth-of-type(1) {
    background-image: url(../images/Nauka\ Grafika/aboutUs1.jpg);
}

.aboutUs .item:nth-of-type(2) {
    background-image: url(../images/Nauka\ Grafika/aboutUs2.jpg);
}

.aboutUs .item:nth-of-type(3) {
    background-image: url(../images/Nauka\ Grafika/aboutUs3.jpg);
}

.aboutUs .item:nth-of-type(4) {
    background-image: url(../images/Nauka\ Grafika/aboutUs4.jpg);
}

.aboutUs .item p {
    font-family: 'Saira', sans-serif;
    color: white;
    text-align: center;
    /* line-height: 25vh; */
    text-shadow: 0 0 4px black;
    background-color: rgba(0,0,0,0.5);
    font-size: 20px;
    padding: 5px 0;
}

.aboutUs h1 {
    font-family:'Saira condensed', sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
}

@media(min-width:533px) {
    .aboutUs .item {
        float: left;
        width: 50%;
        height: 40vh;
    }
}

@media(min-width:768px) {
    .aboutUs h1 {
        font-size: 48px;
        margin-top: 40px;
        margin-bottom: 35px;
    }
    .aboutUs .item p {
        font-size: 30px;
        padding: 15px 0;
    }
}

@media(min-width:1024px) {
    .aboutUs .item p {
        padding: 0;
        line-height: 40vh;
        opacity: 0;
        transition: 0.4s;
        cursor: default;
    }
    .aboutUs .item:hover p {
        padding: 0;
        line-height: 40vh;
        opacity: 1;
    }
    .aboutUs .item {
        background-size: 100%;
        transition: 0.4s;
    }
    .aboutUs .item:hover {
        background-size: 130%;
    }
}

@media(min-width:1600px) {
    .aboutUs h1 {
        font-size: 60px;
        margin-top: 50px;
        margin-bottom: 45px;
    }
    .aboutUs .item p {
        font-size: 40px;
    }
}

/* kontakt */
.contact {
    background-color: #000;
    padding: 30px 20px;
}
.contact h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: white;
    text-align: center;
}

.contact .wrap {
    padding-top: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.contact input, .contact button, .contact textarea {
    width: 100%;
    margin-bottom: 25px;
    font-family: 'Saira', sans-serif;
    font-size: 12px;
    padding: 5px;
    border-radius: 7px;
}

.contact input {
    height: 36px;
}

.contact textarea {
    height: 120px;
}

.contact button {
    font-size: 14px;
    height: 40px;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.contact .socials {
    padding-top: 30px;
    font-size: 0;
}

.contact .social {
    padding-top: 10px;
    color: white;
    font-family: 'Saira Condensed', sans-serif;
}
.contact .social img {
    float: left;
}

.contact .social span {
    line-height: 77px;
    padding-left: 20px;
    float: left;
    font-size: 20px;
}

@media (min-width: 533px) {
    .contact .social {
        display: inline-block;
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .contact h1 {
        font-size: 60px;
        padding: 30px 0;
    }
    .contact form, .contact .socials {
        float: left;
        width: 50%;
        padding: 0 20px;
    }
    .contact .social {
        display: block;
        width: 50%;
        margin: 0 auto;
    }
    .contact input, .contact button, .contact textarea {
        margin-bottom: 35px;
    }
    .contact input {
        height: 46px;
        font-size: 24px;
    }
    
    .contact textarea {
        font-size: 24px;
        height: 180px;
    }
    
    .contact button {
        font-size: 20px;
        height: 50px;
        transition: 0.3s;
        cursor: pointer;
    }
    .contact button:hover {
        color:black;
        background-color: white;
    }
}

/* footer */
footer {
    background-color: #55a146;
    color:white;
    font-size: 20px;
    font-family: 'Saira', sans-serif;
    text-align: center;
    padding: 20px 20px;
}